.App {
    width: 75%;
    margin: 0 auto;
    display: flex ;
}

.pups {
    width: 50px;
    margin: 5%;
    font-style: italic;

}

.container {
    flex-direction: columns;
    display: block;
    justify-content: space-around;
    align-items: center;

    
}